<h2>How does it work?</h2>
<p>
When the page is loaded the focus will move to the input field so you can start typing and add new items.</p>
<p>You can also import some demo content by clicking on the blue button at the bottom.</p>
<p>New items are stored in the browser cache using local storage, so your items can be retrieved later.</p>

<br>

<p>
    <ul>
    <span>IDE:</span>
        <li class="indent">PHPStorm 10</li>
    <span>Build with:</span>
        <li class="indent">Bower</li>
        <li class="indent">SASS</li>
        <li class="indent">Grunt</li>
    <span>Using:</span>
        <li class="indent">HTML5 Boilerplate</li>
        <li class="indent">Bootstrap</li>
        <li class="indent">jQuery UI sortable</li>
        <li class="indent">Local storage</li>
    </ul>
</p>
